# Assignment 23 Solutions

#### 1.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
**Examples:**    
`is_symmetrical(7227) ➞ True`  
`is_symmetrical(12567) ➞ False`  
`is_symmetrical(44444444) ➞ True`  
`is_symmetrical(9939) ➞ False`  
`is_symmetrical(1112111) ➞ True`

In [2]:
def is_symmetrical(in_num):
    if str(in_num) == str(in_num)[::-1]:
        return True
    else:
        return False

lst = [7227,12567,44444444,9939,1112111]

for ele in lst:
    print(f'{ele} ➞ {is_symmetrical(ele)}')

7227 ➞ True
12567 ➞ False
44444444 ➞ True
9939 ➞ False
1112111 ➞ True

#### 2.Given a string of numbers separated by a comma and space, return the product of the numbers.
**Examples:**  
`multiply_nums("2, 3") ➞ 6`  
`multiply_nums("1, 2, 3, 4") ➞ 24`  
`multiply_nums("54, 75, 453, 0") ➞ 0`  
`multiply_nums("10, -2") ➞ -20`

In [4]:
def multiply_nums(in_string):
    out_string = in_string.replace(' ','').split(',')
    output = 1
    for ele in out_string:
        output *= int(ele)
    return output
    
lst = ["2, 3","1, 2, 3, 4","54, 75, 453, 0","54, 75, 453, 0","10, -2"]

for ele in lst:
    print(f'{ele} ➞ {multiply_nums(ele) }')

2, 3 ➞ 6
1, 2, 3, 4 ➞ 24
54, 75, 453, 0 ➞ 0
54, 75, 453, 0 ➞ 0
10, -2 ➞ -20

#### 3.Create a function that squares every digit of a number.
**Examples:**  
`square_digits(9119) ➞ 811181`  
`square_digits(2483) ➞ 416649`  
`square_digits(3212) ➞ 9414`  

**Notes:**   
The function receives an integer and must return an integer.

In [5]:
def square_digits(in_num):
    in_list = [str(int(ele)**2) for ele in str(in_num)]
    output= ''.join(in_list)
    return output

lst = [9119,2483,3212]

for ele in lst:
    print(f'{ele} ➞ {square_digits(ele)}')

9119 ➞ 811181
2483 ➞ 416649
3212 ➞ 9414

#### 4.Create a function that sorts a list and removes all duplicate items from it.
**Examples:**  
`setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]`  
`setify([4, 4, 4, 4]) ➞ [4]`  
`setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]`  
`setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]`

In [6]:
def setify(in_list):
    output= sorted(set(in_list))
    return output
    
lst = [[1, 3, 3, 5, 5],[4, 4, 4, 4],[5, 7, 8, 9, 10, 15],[3, 3, 3, 2, 1]]

for ele in lst:
    print(f'{ele} ➞ {setify(ele)}')

[1, 3, 3, 5, 5] ➞ [1, 3, 5]
[4, 4, 4, 4] ➞ [4]
[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] ➞ [1, 2, 3]

#### 5.Create a function that returns the mean of all digits.
**Examples:**  
`mean(42) ➞ 3`  
`mean(12345) ➞ 3`  
`mean(666) ➞ 6`  

**Notes:**   
    1.The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).  
    2.The mean will always be an integer.

In [9]:
def mean(in_num):
    in_list = [int(ele) for ele in str(in_num)]
    output = sum(in_list)/len(str(in_num))
    return int(output)

lst = [42,12345,666]

for ele in lst:
    print(f'{ele} ➞ {mean(ele)}')

42 ➞ 3
12345 ➞ 3
666 ➞ 6