## Importing Libratries

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Data Analysis and Preprocessing

In [2]:
data=pd.read_csv("../Dataset/UCI_Credit_Card.csv")

In [4]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [5]:
data.drop('ID',axis=1,inplace=True)

In [6]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [7]:
data.shape

(30000, 24)

In [8]:
data.isna().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  float64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  float64
 12  BILL_AMT2                   30000 non-null  float64
 13  BILL_AMT3                   30000 non-null  float64
 14  BILL_AMT4                   30000 non-null  float64
 15  BILL_AMT5                   30000 non-null  float64
 16  BILL_AMT6                   30000 non-null  float64
 17  PAY_AMT1                    30000 non-null  float64
 18  PAY_AMT2                    30000 non-null  float64
 19  PAY_AMT3                    30000 non-null  float64
 20  PAY_AMT4                    30000 non-null  float64
 21  PAY_AMT5                    30000 non-null  float64
 22  PAY_AMT6                    30000 non-null  float64
 23  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(11)
memory usage: 5.5 MB

In [10]:
ProfileReport(data).to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

From the correlation heatmap above, it can be seen that there are some relationships between the feature columns, they are not entirely independent. 

But in this scenario, there is a correlation because a customer who was not able to pay the bill for 1 month was again not able to pay it for the subsequent months and hence the correlation.

Again for the bill amount column, the same has happened. If the customer was not able to pay the bill, then the bill amount almost remained the same, or if the customer was able to pay then the bill amount got reduced.

We remove columns when they convey the same information. But here, dropping the columns shall result in the loss of bill and payment history data. So, we donâ€™t need to drop any column although there is a correlation.

In [9]:
x=data.drop(labels=['default.payment.next.month'],axis=1)
y=data['default.payment.next.month']

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [11]:
from sklearn.preprocessing import StandardScaler
train_scaler=StandardScaler()
test_scaler=StandardScaler()

In [12]:
scaled_train_data=train_scaler.fit_transform(x_train)
scaled_test_data=test_scaler.fit_transform(x_test)

In [13]:
scaled_train_df=pd.DataFrame(data=scaled_train_data, columns=x_train.columns, index=x_train.index)

In [14]:
scaled_test_df=pd.DataFrame(data=scaled_test_data, columns=x_test.columns, index=x_test.index)

In [15]:
scaled_train_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
16831,-0.365093,-1.238563,1.448725,-1.054777,1.464785,0.015441,-0.724837,-0.697423,-0.668007,-0.647249,...,-0.642576,-0.661257,-0.529514,-0.579208,-0.105018,-0.145558,-0.242409,0.201062,-0.014852,-0.233621
4222,-1.061279,-1.238563,-1.073197,0.861786,0.271955,1.794063,0.110028,0.141588,0.189890,0.238910,...,0.228168,0.224623,0.099678,0.583327,-0.095828,-0.039170,0.152840,-0.212528,2.237818,0.268573
8736,-0.597155,0.807387,0.187764,0.861786,0.380394,0.015441,0.110028,0.141588,0.189890,0.238910,...,-0.067356,-0.081444,-0.154738,-0.181984,-0.213650,-0.157335,-0.219417,-0.239691,-0.231210,-0.254511
27880,-0.287739,0.807387,1.448725,-1.054777,-1.029313,0.015441,0.110028,1.819611,1.905684,2.011229,...,1.169781,1.409281,1.438216,1.562072,0.316551,-0.133702,0.207584,-0.302252,0.074237,-0.012958
29290,-0.906571,-1.238563,1.448725,0.861786,-1.029313,1.794063,0.110028,0.141588,0.189890,0.238910,...,-0.068136,-0.166675,-0.389455,-0.369159,-0.210882,-0.010496,-0.213942,-0.228875,-0.268309,-0.257889

## Training Gaussian Naive Bayes Model

In [16]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()

In [17]:
pred_y=gnb.fit(scaled_train_df,y_train).predict(scaled_test_df)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
ac=accuracy_score(y_test, pred_y)
ac

0.6603030303030303

In [20]:
from sklearn.model_selection import GridSearchCV

In [21]:
param_grid = {"var_smoothing": [1e-9,0.1, 0.001, 0.5,0.05,0.01,1e-8,1e-7,1e-6,1e-10,1e-11]}
#Creating an object of the Grid Search class
grid = GridSearchCV(estimator=gnb, param_grid=param_grid, cv=5,  verbose=3)

In [22]:

#finding the best parameters
grid.fit(scaled_train_data, y_train)

Fitting 5 folds for each of 11 candidates, totalling 55 fits
[CV 1/5] END ...............var_smoothing=1e-09;, score=0.580 total time=   0.0s
[CV 2/5] END ...............var_smoothing=1e-09;, score=0.665 total time=   0.0s
[CV 3/5] END ...............var_smoothing=1e-09;, score=0.714 total time=   0.0s
[CV 4/5] END ...............var_smoothing=1e-09;, score=0.646 total time=   0.0s
[CV 5/5] END ...............var_smoothing=1e-09;, score=0.689 total time=   0.0s
[CV 1/5] END .................var_smoothing=0.1;, score=0.665 total time=   0.0s
[CV 2/5] END .................var_smoothing=0.1;, score=0.743 total time=   0.0s
[CV 3/5] END .................var_smoothing=0.1;, score=0.769 total time=   0.0s
[CV 4/5] END .................var_smoothing=0.1;, score=0.740 total time=   0.0s
[CV 5/5] END .................var_smoothing=0.1;, score=0.754 total time=   0.0s
[CV 1/5] END ...............var_smoothing=0.001;, score=0.581 total time=   0.0s
[CV 2/5] END ...............var_smoothing=0.001;, score=0.666 total time=   0.0s
[CV 3/5] END ...............var_smoothing=0.001;, score=0.716 total time=   0.0s
[CV 4/5] END ...............var_smoothing=0.001;, score=0.647 total time=   0.0s
[CV 5/5] END ...............var_smoothing=0.001;, score=0.691 total time=   0.0s
[CV 1/5] END .................var_smoothing=0.5;, score=0.783 total time=   0.0s
[CV 2/5] END .................var_smoothing=0.5;, score=0.784 total time=   0.0s
[CV 3/5] END .................var_smoothing=0.5;, score=0.794 total time=   0.0s
[CV 4/5] END .................var_smoothing=0.5;, score=0.783 total time=   0.0s
[CV 5/5] END .................var_smoothing=0.5;, score=0.781 total time=   0.0s
[CV 1/5] END ................var_smoothing=0.05;, score=0.623 total time=   0.0s
[CV 2/5] END ................var_smoothing=0.05;, score=0.711 total time=   0.0s
[CV 3/5] END ................var_smoothing=0.05;, score=0.746 total time=   0.0s
[CV 4/5] END ................var_smoothing=0.05;, score=0.702 total time=   0.0s
[CV 5/5] END ................var_smoothing=0.05;, score=0.733 total time=   0.0s
[CV 1/5] END ................var_smoothing=0.01;, score=0.586 total time=   0.0s
[CV 2/5] END ................var_smoothing=0.01;, score=0.671 total time=   0.0s
[CV 3/5] END ................var_smoothing=0.01;, score=0.723 total time=   0.0s
[CV 4/5] END ................var_smoothing=0.01;, score=0.656 total time=   0.0s
[CV 5/5] END ................var_smoothing=0.01;, score=0.698 total time=   0.0s
[CV 1/5] END ...............var_smoothing=1e-08;, score=0.580 total time=   0.0s
[CV 2/5] END ...............var_smoothing=1e-08;, score=0.665 total time=   0.0s
[CV 3/5] END ...............var_smoothing=1e-08;, score=0.714 total time=   0.0s
[CV 4/5] END ...............var_smoothing=1e-08;, score=0.646 total time=   0.0s
[CV 5/5] END ...............var_smoothing=1e-08;, score=0.689 total time=   0.0s
[CV 1/5] END ...............var_smoothing=1e-07;, score=0.580 total time=   0.0s
[CV 2/5] END ...............var_smoothing=1e-07;, score=0.665 total time=   0.0s
[CV 3/5] END ...............var_smoothing=1e-07;, score=0.714 total time=   0.0s
[CV 4/5] END ...............var_smoothing=1e-07;, score=0.646 total time=   0.0s
[CV 5/5] END ...............var_smoothing=1e-07;, score=0.689 total time=   0.0s
[CV 1/5] END ...............var_smoothing=1e-06;, score=0.580 total time=   0.0s
[CV 2/5] END ...............var_smoothing=1e-06;, score=0.665 total time=   0.0s
[CV 3/5] END ...............var_smoothing=1e-06;, score=0.714 total time=   0.0s
[CV 4/5] END ...............var_smoothing=1e-06;, score=0.646 total time=   0.0s
[CV 5/5] END ...............var_smoothing=1e-06;, score=0.689 total time=   0.0s
[CV 1/5] END ...............var_smoothing=1e-10;, score=0.580 total time=   0.0s
[CV 2/5] END ...............var_smoothing=1e-10;, score=0.665 total time=   0.0s
[CV 3/5] END ...............var_smoothing=1e-10;, score=0.714 total time=   0.0s
[CV 4/5] END ...............var_smoothing=1e-10;, score=0.646 total time=   0.0s
[CV 5/5] END ...............var_smoothing=1e-10;, score=0.689 total time=   0.0s
[CV 1/5] END ...............var_smoothing=1e-11;, score=0.580 total time=   0.0s
[CV 2/5] END ...............var_smoothing=1e-11;, score=0.665 total time=   0.0s
[CV 3/5] END ...............var_smoothing=1e-11;, score=0.714 total time=   0.0s
[CV 4/5] END ...............var_smoothing=1e-11;, score=0.646 total time=   0.0s
[CV 5/5] END ...............var_smoothing=1e-11;, score=0.689 total time=   0.0s

GridSearchCV(cv=5, estimator=GaussianNB(),
             param_grid={'var_smoothing': [1e-09, 0.1, 0.001, 0.5, 0.05, 0.01,
                                           1e-08, 1e-07, 1e-06, 1e-10, 1e-11]},
             verbose=3)

In [23]:
grid.best_estimator_

GaussianNB(var_smoothing=0.5)

In [24]:
gnb_new=GaussianNB(var_smoothing=0.5)
pred_y_new=gnb_new.fit(scaled_train_df,y_train).predict(scaled_test_df)

In [25]:
ac_new=accuracy_score(y_test,pred_y_new)
ac_new

0.7798989898989899

## Training XG Boost Model

In [26]:
from xgboost import XGBClassifier

In [27]:
param_grid_xgboost = {

                'learning_rate': [0.5, 0.1, 0.01, 0.001],
                'max_depth': [3, 5, 10, 20],
                'n_estimators': [10, 50, 100, 200]

            }

# Creating an object of the Grid Search class
grid= GridSearchCV(XGBClassifier(objective='binary:logistic'),param_grid_xgboost, verbose=3,cv=5,n_jobs=-1)

In [28]:
grid.fit(scaled_train_df,y_train)

Fitting 5 folds for each of 64 candidates, totalling 320 fits

GridSearchCV(cv=5, estimator=XGBClassifier(), n_jobs=-1,
             param_grid={'learning_rate': [0.5, 0.1, 0.01, 0.001],
                         'max_depth': [3, 5, 10, 20],
                         'n_estimators': [10, 50, 100, 200]},
             verbose=3)

In [29]:
learning_rate = grid.best_params_['learning_rate']
max_depth = grid.best_params_['max_depth']
n_estimators = grid.best_params_['n_estimators']

In [30]:
xgb_new = XGBClassifier(learning_rate=learning_rate, max_depth=max_depth, n_estimators=n_estimators)

In [31]:
pred_y_xgb_new=xgb_new.fit(scaled_train_df,y_train).predict(scaled_test_df)

In [32]:
ac_xgb_new=accuracy_score(y_test,pred_y_xgb_new)

In [33]:
ac_xgb_new

0.8214141414141414

## Trainig Random Forest Model

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
param_grid_rf =  {
    "n_estimators": [10, 50, 100, 130], 
    "criterion": ['gini', 'entropy'],
    "max_depth": range(2, 4, 1), 
    "max_features": ['auto', 'log2']
    }

# Creating an object of the Grid Search class
grid= GridSearchCV(RandomForestClassifier(),param_grid_rf, verbose=3,cv=5,n_jobs=-1)

In [36]:
grid.fit(scaled_train_df,y_train)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 4),
                         'max_features': ['auto', 'log2'],
                         'n_estimators': [10, 50, 100, 130]},
             verbose=3)

In [44]:
grid.best_params_

{'criterion': 'entropy',
 'max_depth': 3,
 'max_features': 'log2',
 'n_estimators': 10}

In [37]:
criterion = grid.best_params_['criterion']
max_depth = grid.best_params_['max_depth']
max_features = grid.best_params_['max_features']
n_estimators = grid.best_params_['n_estimators']

In [38]:
rf_new = RandomForestClassifier(n_estimators=n_estimators, criterion=criterion,
                                              max_depth=max_depth, max_features=max_features)

In [39]:
pred_y_rf_new=rf_new.fit(scaled_train_df,y_train).predict(scaled_test_df)

In [40]:
ac_rf_new=accuracy_score(y_test,pred_y_rf_new)

In [41]:
ac_rf_new

0.8112121212121212

In [43]:
import pickle
with open('../Model/xgb_model.sav','wb') as f:
    pickle.dump(xgb_new, f)